/*Código que vincula a los fonts proporcionados en la carpeta de fonts para todo el css*/
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

/*Selector universal*/
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Outfit';
  
}

/*Selector más general después del universal que le da las propiedades y valores del fondo que va atrás del todo*/
body{
    background-color: hsl(30, 54%, 90%);
    min-height: 100vh;

    display: flex;
    justify-content: center;


}


/*Selector de clase que llama a un elemento de esta para tener especificdad*/
.image img{
    width: 100%;
    height: 15rem;  
    border-radius: 1rem;
}

/*Selector con pseudoclase para que cuando el cursor se pase por encima la imagen tenga una animación*/
.image img:hover{
    animation: move 3s linear ;

}
/*Selector de clase de la clase main que es donde se va a encontrar absolutamente tod la información de la página*/
.main {
    margin: auto;
    min-width: 200px;
    max-width: 800px;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}

/*Selector del titulo*/
h1{
    font-family: 'Young Serif';

}
/*Selector de los titulos con la etiqueta h2*/
h2{
    color: brown;
    font-family: 'Young Serif';
    
}
/*Selector con pesudoclase que permite que los titulos con h2 tengan una contracción caundo el cursos se le pase por encima*/
h2:hover{
    animation: contraction 1s ease;
}

/*Selector de la primera clase, le da sus atributos*/
.firstbox{
   
    display: flex;
    flex-direction: column;
    gap: 2rem;

}


/*Selector de la clase que también van a tener algunas otras clases para dar una generalidad de propiedades sin repetir código*/
.sec{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    
    li::marker{
        color: #7f4860;
    }
    
}

/*Selector de clase que contiene anidamiento con el titulo de etiqueta h3 perteneicente a esta clase y a la lista creada*/
.pinkbox{
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
   
    h3{
        color:  #7f4860;
        
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        
    }
    
}

/*Selector de clase que contiene el estilo a agregar de la lista perteneciente a esta*/
.thirdbox{
    
    ul{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
}

/*Selector de clase que contiene el estilo a agregar de la list aenumerada perteneciente a esta*/
.fourthbox{

    ol{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

}

/*Selector de la clase tabla dandole propiedades y estilos a las diferentes partes de esta*/
.tabla{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Outfit';


    th, td {
        border-bottom: 1px solid hsl(30, 18%, 87%);
        text-align: center;
    }

}

/*Selector que convierte palabras para que tengan negrilla*/
span {
    font-weight: bold;
}

/*Manera de volver el sitio web responsivo independientemente de la orientación del dispositivo*/
@media screen and (orientation: landscape){
    .main{
        width: 90%;
        padding:2rem;
    }

    .image img{
        height: 10rem;
    }
}


/*Estilos que se le pondrán a una pantalla con las caracterísitcas especificadas*/
@media screen and (min-width: 768px) and (max-width : 1024px){
    .main{
        width: 90%;
        padding: 2rem;
    
    }
    
    .image img{
        height: 25rem;
    }
}

/*Estilos que se le pondrán a una pantalla con las caracterísitcas especificadas*/
@media screen and (min-width: 1024px){
    .main{
        width: 60%;
        padding: 4rem;
    }

    .image img{
        height: 25rem;
    }
}

/*Animación para el titulo principal que abre una foto motivadora´y cambai el color de la letra cuando se pasa el mouse por encima*/
@media (any-hover: hover){
    a:hover {
        color: #7f4860;
    }
}

/*Animación que permite el moevimeinto de la imagen*/
@keyframes move {
    0%{
        transform: translateX(0%);
    }
    100%{
       
        transform: scaleZ(-2%)
    }
    
}

/*Animación para que los titulos con h2 tengan una nimación cuando pase el cursor por encima*/
@keyframes contraction {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
    
}











